In [1]:
# Import dependencies.
import matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

In [2]:
engine = create_engine("sqlite:///open_university.sqlite", echo=False)

In [3]:
dataset = engine.execute(text("""
SELECT sI.id_student, sVle.date, sVle.sum_click, sI.gender, sI.imd_band, sI.highest_education, sI.age_band, sI.num_of_prev_attempts, sI.region, sI.final_result
FROM studentVle as sVle
OUTER LEFT JOIN studentInfo as sI ON sI.id_student = sVle.id_student
OUTER LEFT JOIN vle ON vle.id_site = sVle.id_site AND vle.code_module = sVle.id_site AND vle.code_presentation = sVle.code_presentation
--LIMIT 30
""")).fetchall()

df = pd.DataFrame(dataset, columns=['id_student', 'day', 'clicks', 'gender', 'imd_band', 'highest_education', 'age_band', 'num_of_prev_attempts', 'region', 'final_result'])
display(df.count())
display(df.head())

id_student              13006575
day                     13006575
clicks                  13006575
gender                  13006575
imd_band                12264848
highest_education       13006575
age_band                13006575
num_of_prev_attempts    13006575
region                  13006575
final_result            13006575
dtype: int64

,id_student,day,clicks,gender,imd_band,highest_education,age_band,num_of_prev_attempts,region,final_result
0,28400,-10,4,F,20-30%,HE Qualification,35-55,0,Scotland,Pass
1,28400,-10,1,F,20-30%,HE Qualification,35-55,0,Scotland,Pass
2,28400,-10,1,F,20-30%,HE Qualification,35-55,0,Scotland,Pass
3,28400,-10,11,F,20-30%,HE Qualification,35-55,0,Scotland,Pass
4,28400,-10,1,F,20-30%,HE Qualification,35-55,0,Scotland,Pass

In [12]:


# Count occurrences of each student ID
student_counts = df['id_student'].value_counts()

# Filter IDs that appear more than 100 times
selected_students = student_counts[student_counts > 150].index

# Filter the DataFrame based on selected IDs
filtered_df = df[df['id_student'].isin(selected_students)]

display(filtered_df.nunique())

id_student              17831
day                       295
clicks                    496
gender                      2
imd_band                   10
highest_education           5
age_band                    3
num_of_prev_attempts        7
region                     13
final_result                4
dtype: int64

In [13]:
# Filter the DataFrame for female students who passed (either 'Pass' or 'Distinction')
female_passed = filtered_df[(filtered_df['gender'] == 'F') & (filtered_df['final_result'].isin(['Pass', 'Distinction']))]

female_passed.nunique()

# can filter based on gender, final_result, imd_band, highest_education, num_of_prev_attempts, age_band and region
# view an interactive graph of the days vs cumlative interactions

id_student              5801
day                      295
clicks                   352
gender                     1
imd_band                  10
highest_education          5
age_band                   3
num_of_prev_attempts       6
region                    13
final_result               2
dtype: int64